
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="#" class="logo">
    <mat-icon [ngStyle]="{ 'color': 'white', 'fontSize': '35px', 'padding': '10px' }">storefront</mat-icon>
  </a>
  <span>Abay Store Market</span>
  <div class="spacer"></div>

  <a (click)="handleLoginAction()" class="login">Login</a>
  <a (click)="handleSignupAction()" class="signup">Sign up</a>
  <a (click)="forgotPasswordAction()" class="forgotPassword">Forgot Password?</a>

</div>


<div class="bg-image"></div>
<!--<app-best-seller></app-best-seller>-->


<div class="footer" id="signup">
  <h2>All right reserved @Amare</h2>
</div>
