<mat-card>
  <b>
    <span>Manage Categories</span>
    <button
      mat-flat-button
      color="primary"
      class="float-right"
      (click)="handleAddCategory()"
    >
      Add Category
    </button>
  </b>
</mat-card>

<hr />

<mat-card class="filter-mat-card">
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input type="text" matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
</mat-card>

<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Edit"
          (click)="handleEditCategory(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dsiplayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: dsiplayedColumns"></tr>
  </table>
</div>
