<!-- Dashboard body starts here -->
<body>
<div class="container">
  <!-- Main card containing the title "Dashboard" -->
  <mat-card>
    <b><span>Dashboard</span></b>
  </mat-card>
  <br/>
  <!-- Row containing multiple columns for different statistics -->
  <div class="row">
    <!-- Column for displaying Total Category information -->
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Category: </h2>
          <h2 class="title">{{data?.category}}</h2>
          <!-- Button to navigate to the category view page -->
          <p><button class="button" [routerLink]="['/abaystore/category']">View Category</button></p>
        </div>
      </div>
    </div>

    <!-- Column for displaying Total Product information -->
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Product: </h2>
          <h2 class="title">{{data?.product}}</h2>
          <!-- Button to navigate to the product view page -->
          <p><button class="button" [routerLink]="['/abaystore/product']">View Product</button></p>
        </div>
      </div>
    </div>

    <!-- Column for displaying Total Bill information -->
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Bill: </h2>
          <h2 class="title">{{data?.bill}}</h2>
          <!-- Button to navigate to the bill view page -->
          <p><button class="button" [routerLink]="['/abaystore/bill']">View Bill</button></p>
        </div>
      </div>
    </div>

    <!-- Column for displaying Total Users information -->
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Users: </h2>
          <h2 class="title">{{data?.user}}</h2>
          <!-- Button to navigate to the user view page -->
          <p><button class="button" [routerLink]="['/abaystore/user']">View User</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
<!-- Dashboard body ends here -->
