<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Forgot Password</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="forgotPasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxflex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
          <span *ngIf="forgotPasswordForm.controls.email.errors.required">This field is obligatory!</span>
          <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">This field is invalid!</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!--  [disabled]="validateSubmit() || !(signupForm.valid && signupForm.dirty)"-->
  <button mat-raised-button color="primary" type="submit" (click)="handleForgotPasswordSubmit()" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">
    <mat-icon>send</mat-icon> Send Password
  </button>
  <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon>Cancel</button>
</mat-dialog-actions>
