/*.mat-toolbar {*/
/*  margin: -24px;*/
/*  width: auto;*/
/*  margin-bottom: 10px;*/
/*}*/

/*.mat-form-field {*/
/*  padding: 5px;*/
/*}*/

/*.mat-hint {*/
/*  color: red;*/
/*}*/
mat-toolbar {
  background-color: darkslategrey;
}
mat-dialog-content {
  background-color: white;
}
.spacer {
  flex: 1;
}
.mat-hint-span {
  color: red;
}
