<!-- Placeholder for loading routed components -->
<router-outlet></router-outlet>

<!--
  Placeholder for displaying loading spinner provided by ngx-ui-loader.
  This element is used to show loading indicators during asynchronous operations.
-->
<ngx-ui-loader></ngx-ui-loader>
