<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink *ngFor="let menuItem of menuItems.getMenuItems()" routerLinkActive="selected" group="{{menuItem.state}}">
    <a class="" style="text-decoration: none;" appAccordionToggle [routerLink]="['/abaystore/', menuItem.state]" *ngIf="menuItem.type === 'link' && (menuItem.role === '' || menuItem.role === userRole)">
      <mat-icon style="align-content: center">{{menuItem.icon}}</mat-icon>
      <button mat-button style="background-color: #3f51b5; color: white; width: 100%; margin-left: 5px;"><span>{{menuItem.name}}</span></button>
      <span fxFlex></span>
    </a>
  </mat-list-item>
</mat-nav-list>
