<mat-card>
  <b>
    <span>Manage Orders</span>
    <button
      mat-flat-button
      color="primary"
      class="float-right"
      [disabled]="validateSubmit()"
      (click)="submitAction()"
    >
      <mat-icon>print</mat-icon> Submit & Get Bill
    </button>
  </b>
</mat-card>
<hr>

<mat-card>
  <b><span>Customer Details:</span></b>

  <form [formGroup]="manageOrderForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" required />
          <mat-error
            *ngIf="
              manageOrderForm.controls.name.touched &&
              manageOrderForm.controls.name.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.name.errors.required"
            >This field is mandatory</span
            >

            <span *ngIf="manageOrderForm.controls.name.errors.pattern"
            >This field is invalid</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" required />
          <mat-error
            *ngIf="
              manageOrderForm.controls.email.touched &&
              manageOrderForm.controls.email.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.email.errors.required"
            >This field is mandatory</span
            >

            <span *ngIf="manageOrderForm.controls.email.errors.pattern"
            >This field is invalid</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Contact Number</mat-label>
          <input
            type="text"
            matInput
            formControlName="contactNumber"
            required
          />
          <mat-error
            *ngIf="
              manageOrderForm.controls.contactNumber.touched &&
              manageOrderForm.controls.contactNumber.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.contactNumber.errors.required"
            >This field is mandatory</span
            >

            <span *ngIf="manageOrderForm.controls.contactNumber.errors.pattern"
            >This field is invalid</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Payment Method</mat-label>
          <mat-select matInput formControlName="paymentMethod" required>
            <mat-option value="Cash">Cash</mat-option>
            <mat-option value="Credit Card">Credit Card</mat-option>
            <mat-option value="Debit Card">Debit Card</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              manageOrderForm.controls.paymentMethod.touched &&
              manageOrderForm.controls.paymentMethod.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.paymentMethod.errors.required"
            >This field is mandatory</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>
<hr />

<mat-card>
  <b><span>Select Product:</span></b>
  <form [formGroup]="manageOrderForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="'row wrap">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Category</mat-label>
          <mat-select
            formControlName="category"
            (selectionChange)="getProductsByCategory($event.value)"
            required
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category"
            >{{ category.name }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="
              manageOrderForm.controls.name.touched &&
              manageOrderForm.controls.name.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.name.errors.required"
            >This field is mandatory</span
            >

            <span *ngIf="manageOrderForm.controls.name.errors.pattern"
            >This field is invalid</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Product</mat-label>
          <mat-select
            formControlName="product"
            (selectionChange)="getProductDetails($event.value)"
            required
          >
            <mat-option *ngFor="let product of products" [value]="product">{{
              product.name
              }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              manageOrderForm.controls.name.touched &&
              manageOrderForm.controls.name.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.name.errors.required"
            >This field is mandatory</span
            >

            <span *ngIf="manageOrderForm.controls.name.errors.pattern"
            >This field is invalid</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Price</mat-label>
          <input
            type="text"
            matInput
            formControlName="price"
            required
            readonly
          />
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Quantity</mat-label>
          <input
            type="number"
            matInput
            formControlName="quantity"
            (keyup)="setQuantity($event)"
            #input
          />
          <mat-error
            *ngIf="
              manageOrderForm.controls.quantity.touched &&
              manageOrderForm.controls.quantity.invalid
            "
          >
            <span *ngIf="manageOrderForm.controls.quantity.errors.required"
            >This field is mandatory</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Total</mat-label>
          <input
            type="text"
            matInput
            formControlName="total"
            required
            readonly
          />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div>
    <button
      mat-flat-button
      color="primary"
      matTooltip="Add Order"
      (click)="add()"
      [disabled]="validateProductAdd()"
    >
      Add
    </button>

    <button mat-flat-button color="primary" class="float-right">
      Total Amount: {{ totalAmount }}
    </button>
  </div>
</mat-card>

<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name | titlecase }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category Name</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">{{ element.total }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element; let i = index" class="action-link">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Delete"
          (click)="handleDeletAction(i, element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
