.float-right {
  float: right;
}
mat-card {
  padding: 20px;
}
.filter-mat-card {
  background-color: #3f51b5;
}
table {
  width: 100%;
  margin-top: 5px;
  background-color: #f7f1f3;
}
.delete-icon-green {
  color: #0a3a0a;
}
